/* View Specific CSS */
.calendar {
  padding: 1rem;
}

.calendar table {
  border-collapse: collapse;
}

.calendar thead th {
  color: black;
  width: 100px;
  min-width: 100px;
}

.calendar th, .calendar td {
  border: 1px solid;
}